{% extends "base.html" %}


{% block content %}
	{% if page %} 
    <section id="content" class="body">

<div class="indexpage">
<div class="row">
<div class="col-lg-12">
<div class="entry-content">
<div class="container">
<div class="alert alert-info">
  <strong>Under construction</strong> Things may not work, feeds may be broken, and your browser may crash. But hey, that's part of the fun.
</div>
<div class="col-md-4">
<img alt="My photo should have appeared here." class="img-circle center-block" src="{{ page.avatar }}" height="300" width="300">
</div>

<div class="col-md-4">

      <h2 class="entry-title">{{ page.faketitle }}</h2>
<p>
{{ page.content }}
</p>

</div>



<div class="col-md-4 well">
	

<ul class="list-group list-group-flush contact">

<li><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icons/envelope.svg" alt="envelope icon" width=20px> manu [at] arteteco [dot] com</li>
<a href="{{ SITEURL }}/feeds/"><li><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icons/rss.svg" alt="feed icon" width=20px> Atom feeds</li></a>
<!--
<a href="https://www.flickr.com/photos/arteteco/"><li><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icons/flickr.svg" alt="flickr icon" width=20px> Flickr </li></a>
<li></li>

-->


</ul>

</div>
</div>
{% endif %}

    </section>
        </div>
    </div>      
      </div>      
      
{% endblock %}
