{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8">
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
 <article>

{% if article.cover_image %}
<div class="article_cover_image">
  <a class="pull-left" href="{{ SITEURL }}/{{ article.url }}">
    <img src="{{ article.cover_image }}" height=95px class="img-rounded">
  </a>
 </div>
{% endif %}

<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
      <div class="well well-sm">
           {% include "includes/article_info.html" %}
      </div>
  {% endif %}
                
  <div class="summary">{{ article.summary }}
    {% include 'includes/comment_count.html' %}
    <a class="btn btn-default btn-xs" href="../{{ article.url }}">{{ _('more') }} ...</a>
  </div>
  
  </article>
  <hr/>
        {% endfor %}
    {% endif %}
  
  {% include 'includes/pagination.html' %}
	</div>


<div class="col-md-4">

    <section class="well well-sm">
  <ul class="list-group list-group-flush">
    {% include 'includes/sidebar/tag_cloud.html' %}
      </ul>
</section>
</div>
</div>
{% endblock content %}
