{% extends "base.html" %}


{% block content %}

      
      <h1>{{ page.title }}</h1>

	{% for category, articles in categories %}
	

	
<div class = "container">
	
	
		<div class="row">
				<h2>{{ category }}</h2>
	<hr>
	   {% for article in articles %}

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
         <img src = "{{ article.cover_image }}" alt = "{{ article.title }} cover" style="max-width:100%" class="img-rounded">
      <div class="caption">
         <h3>{{ article.title }}</h3>
         <p>{{ article.summary }}</p>
        <p>
         <p style="text-align: center;"><a class="btn btn-primary" href="../{{ article.url }}">More</a></p>

       </p>
      </div>
    </div>

  </div>
        {% endfor %}
</div>

{% endfor %}

{% endblock %}
  ...

