{% extends "base.html" %}


{% block content %}

      
      <h1>{{ page.title }}</h1>

	{% for category, articles in categories %}
<div class = "container">
	<div class = "row">	
	<h2>{{ category }}</h2>
	<hr>
	
   {% for article in articles %}

   <div class = "col-sm-6 col-md-3"	>
	         <div class = "trophy_image">
	   <a href="../{{ article.url }}">
   
         <img src = "{{ article.cover_image }}" alt = "{{ article.Title }} cover">

      </a>
      
      <div class = "caption">
		 <a href="../{{ article.url }}">
         <h3>{{ article.title }}</h3>
         </a>
         <p>{{ article.summary }}</p>
         <p style="text-align: center;"><a class="btn btn-primary" href="../{{ article.url }}">More</a></p>
               </div>
      </div>
   </div>
  {% endfor %}
</div>
	
	</ul>

	


{% endfor %}

{% endblock %}
	
  ...

